.fa-solid{
    position: absolute;
    top: 8.5%;
    left: 16%;
    display: none;
}
div{

    position: relative;
}
.happy{
    display: inline;
}
input{
    width: 19%;
    box-sizing: border-box;
    padding-right: 3rem;
}