<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>

    <!-- link the icon -->
    <link rel="shortcut icon" href="./images/myntra logo.png" type="image/x-icon">

    <!-- *link the css file  -->
    <link rel="stylesheet" href="./cards.css">

    <!-- link to the google fonts  -->
    <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">


</head>
<body>
    <main>
        <section>
            <div class="card">
                <img src="./images/redmi 13.jpg" alt="image is getting load please wait" id="image1">
                <h1>Redmi-13 </h1>
                <h2>Price : <del>12000</del> 10000</h2>
                <h2>Rating : 4.2 </h2>
            <button>Add to cart</button>
            </div>


            <div class="card">
                <img src="./images/one +.jpg" alt="image is getting load please wait" id="image2">
                <h1>one + nord</h1>
                <h2>Price : <del>25,000</del> 22,000</h2>
                <h2>Rating : 4.5<</h2>
                <button>Add to cart</button>
            </div>


            <div class="card">
                <img src="./images/iq 76.jpg" alt="image is getting load please wait" id="image3">
                <h1>iQ Z6</h1>
                <h2>Price : <del>20,000</del> 16,000</h2>
                <h2>Rating : 4.2</h2>
                <button>Add to cart</button>
            </div>
        </section>
    </main>
</body>
</html>