<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropdown Layout</title>

    <!-- ^ connecting to the logo -->
    <link
      rel="shortcut icon"
      href="./images/myntra logo.png"
      type="image/x-icon"
    />

    <!-- ^connecting with the google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- ^ linking the css file  -->
    <link rel="stylesheet" href="./dropdown.css" />
  </head>
  <body>
    <!-- <div id="div1">
      <h1 id="head1">Heading 1</h1>
      <img src="./images/1.jpg" alt="" / id="image1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tempora,
        ut pariatur numquam at ipsa iste quae nulla officiis dolore accusantium
        accusamus error dolores saepe laborum quia aspernatur eaque laboriosam
        voluptatem! Asperiores iste autem omnis corporis ratione dolore cum
        repudiandae, ducimus incidunt laudantium et hic tempore expedita
        delectus iores molestiae dicta quod nostrum neque eaque officiis
        necessitatibus ullam deleniti ut. Dignissimos quaerat voluptatibus
        laborum nostrum tempora voluptatum asperiores, earum a quia, quod minima
        eveniet architecto officiis totam tenetur, reprehenderit fugit minus
        culpa consectetur. A totam excepturi porro eligendi optio facere
        blanditiis ipsum non voluptatibus repellat eaque quidem nobis quos
        cupiditate officia reprehenderit sapiente suscipit, maxime laborum
        perspiciatis vero reiciendis explicabo? Dolore architecto harum
        necessitatibus atque omnis modi sit illo ullam, nobis laudantium iste!
        Ex illum laboriosam, cumque voluptatum eos impedit voluptate expedita
        esse necessitatibus est sunt eveniet? Quia odio labore illo nihil
        consequatur rerum optio voluptate et nemo cupiditate tempore, blanditiis
        deleniti vel pariatur facilis. Iure autem quaerat ipsa tempora natus,
        aperiam voluptates Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Ea modi amet esse laboriosam itaque laudantium sit possimus
        placeat id quis iste quaerat aspernatur distinctio perspiciatis incidunt
        quo, debitis iusto provident ut quam! Doloremque, error doloribus esse
        nemo quas tempore optio sequi quos, perspiciatis quibusdam consequuntur
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        cupiditate quas numquam commodi earum temporibus nihil atque harum
        tempore corporis perspiciatis cum unde in fuga quibusdam ab molestias
        pariatur repellendus quaerat alias dolorum fugit accusamus praesentium
        minima! Quis tempore delectus officia similique est rem a quae alias
        reiciendis eius exercitationem labore doloremque, nam quo veritatis
        consequuntur dignissimos veniam culpa eligendi? At assumenda, laboriosam
        modi, perspiciatis praesentium voluptates deserunt possimus ratione
        quaerat sint similique adipisci rem nostrum numquam repudiandae dolores.
        Exercitationem eaque facilis nisi commodi quaerat odio possimus maiores?
        Dolores ea quia laudantium aspernatur beatae minus voluptatem neque
        consequatur? Ad maiores animi aliquid ducimus sapiente. Et, quae eum est
        cumque veritatis voluptatem sunt dolorem repudiandae, tenetur expedita
        quaerat nihil. Dolorum adipisci natus provident aliquid doloribus fugit
        itaque blanditiis dolores, impedit eius quam dolore ducimus eaque
        laudantium temporibus consequatur earum eos, libero sapiente sunt
        numquam corporis officiis quas ab? Totam accusamus facilis et magnam hic
        aliquam, maiores repellat itaque ipsa non officiis cumque laborum
        perspiciatis sed praesentium repudiandae laudantium ratione. Fuga
        accusamus explicabo optio voluptatibus quidem maiores libero tenetur sed
        harum tempora, itaque molestias ratione distinctio similique. Nisi
        nesciunt illo iure consequatur facilis voluptate. Natus, reiciendis
        explicabo itaque suscipit unde laboriosam sint? Voluptatibus
        perspiciatis quod consectetur ea illum! Deserunt totam quae minus cumque
        consequatur rem quaerat tempore est optio mollitia assumenda dolores
        similique quos, porro repellendus. Sint sed harum iste tempore, velit
        blanditiis cum maiores illo. Quasi velit tempore incidunt recusandae
        quaerat tempora explicabo sapiente iusto debitis perferendis quia illo,
        id voluptates ipsum commodi reiciendis labore. Dolores error nesciunt
        laboriosam dolorum? Cumque iste accusantium explicabo aspernatur, enim
        velit veniam sed animi architecto nulla quae veritatis, deserunt quas
        quisquam. Nihil labore possimus veniam, a eos non nobis voluptatem minus
        rem aperiam adipisci? Necessitatibus in nihil deleniti eveniet.
        Doloremque enim, quod facilis sapiente perferendis error repellendus
        quidem, explicabo sed atque nulla ut unde, culpa sint eligendi.
        Obcaecati, totam perferendis aspernatur exercitationem consequuntur
        quasi assumenda soluta repellat eveniet, sapiente facilis modi, esse
        laborum beatae suscipit. Maiores quidem distinctio corrupti quod
        eligendi, labore adipisci explicabo. Libero, repellat nulla ipsam nobis
        eligendi officia consectetur optio impedit facilis a sunt esse alias
        aspernatur voluptates dolor assumenda maxime ullam quis ipsa debitis
        numquam sint magni! Quas quis laborum labore id doloremque quam
        consectetur sequi fugiat blanditiis non libero aperiam, officia maiores
        nobis omnis voluptate, ipsam earum repellat cumque animi praesentium
        adipisci tempora. Unde quibusdam amet vero numquam officiis laboriosam
        adipisci quis modi, doloribus ipsam aperiam magni quia! Praesentium
        dignissimos cum laudantium ipsam libero odit fuga sequi rem animi aut
        ratione vel unde ea ipsum alias voluptatem aperiam blanditiis adipisci
        ab culpa cumque ullam quae, a possimus? Vero eos error odio nostrum
        aliquam consectetur excepturi ad saepe tenetur officia facilis eveniet
        molestiae asperiores accusamus sit, iste, est sapiente qui nobis ut et
        tempore. Ex omnis deserunt ipsa ipsam, eos voluptatem eveniet
        laudantium? Temporibus laboriosam suscipit animi ad veritatis magnam nam
        maiores voluptatem perferendis, rerum repudiandae sapiente. Asperiores
        totam autem ab nesciunt mollitia? Commodi non, amet blanditiis ut
        delectus quod deleniti quam! Nulla quia similique aspernatur id nobis.
        Sunt ut cupiditate vitae optio neque commodi quaerat magni, eligendi
        consectetur obcaecati delectus tempore error, alias provident earum
        quidem quia soluta dignissimos? Minima voluptate sequi hic quae delectus
        cupiditate exercitationem reiciendis quo obcaecati minus dolor tempore
        qui cumque, non est magni iure doloribus. Beatae ipsum, cum mollitia
        doloribus voluptatem temporibus in provident iusto vel, earum odit
        distinctio similique quisquam, quam suscipit incidunt quo ut? Totam
        saepe similique minima nam odio odit, explicabo obcaecati fugit
        accusantium quo cupiditate quibusdam labore iure consequatur rerum
        tenetur porro repudiandae iusto eaque corrupti iste velit aperiam quis.
        Obcaecati provident nostrum quo, voluptate, vel cumque vitae quae sint
        velit nisi eaque explicabo deleniti eius optio modi nobis soluta
        eveniet. Non vero iure iusto alias qui assumenda iste eaque ipsam, eos
        nisi architecto in ab, consectetur dolorem praesentium omnis velit
        deleniti autem accusamus sapiente, fuga id ducimus? Quod officia
        architecto laboriosam porro hic saepe fugit laudantium inventore autem
        aliquam perspiciatis, iusto molestiae quaerat iste ducimus asperiores
        quam nulla dolores voluptates placeat voluptas temporibus, blanditiis
        aliquid animi! Veritatis officiis reiciendis, voluptas velit culpa sint
        molestias nam, eaque odit tempore, dignissimos eligendi enim! Illum
        rerum officia pariatur culpa tempora. Quia tenetur saepe autem nisi
        velit doloremque cumque rerum placeat, incidunt odit laudantium officiis
        voluptatibus impedit, recusandae voluptatum non distinctio. Nostrum
        harum quo repellat reprehenderit debitis ipsum velit ducimus vel
        asperiores iusto minus cum, recusandae fugiat fuga sed nesciunt
        consequuntur officia. Consequuntur, animi dolor. Quidem pariatur animi
        et illum, totam minima atque nemo amet quaerat sapiente adipisci,
        suscipit, id ut consequatur quia quas laudantium ipsa aliquam.
        Reprehenderit dolores rem deleniti. Repudiandae expedita temporibus non
        nam nesciunt perferendis ducimus at optio! Expedita quia illo nemo autem
        porro vero unde et, perspiciatis, facere voluptatem minus quidem.
        Deserunt culpa vitae illo molestiae? Quibusdam est hic voluptatibus
        debitis tempora natus vel quasi provident, quos reprehenderit aperiam
        eligendi tempore, mollitia animi quis! Voluptas officiis fugit molestias
        sequi et cupiditate alias obcaecati ipsa maxime quae placeat quia vitae
        odit nulla magni, iusto consequatur illum aperiam error doloribus.
        Consectetur ut facilis deleniti, neque minus voluptatibus vitae soluta
        dolorum eius aut? Laboriosam in eum aspernatur dolor adipisci aliquid
        nesciunt quaerat debitis ex ea sapiente perferendis doloremque, quod, ut
        eligendi nam iure. Maiores laboriosam tempora ipsam, doloribus numquam
        perferendis tempore enim. Repudiandae neque eaque iste atque modi
        minima, id a veniam vel expedita odit nobis cumque esse dolorum nam
        culpa illum dolorem iusto perferendis exercitationem incidunt obcaecati
        officiis? Repellendus autem quia quam distinctio, nobis similique fugiat
        illo rem perspiciatis harum id. Facilis maxime labore minima,
        dignissimos obcaecati repellat excepturi sit illo, nobis impedit veniam
        inventore quae officiis cumque numquam vero blanditiis veritatis
        quibusdam, in voluptas dolorem. Dolor vero quibusdam, non quasi ex
        libero nobis quis voluptates nam ratione quae, commodi dicta? Laboriosam
        perferendis quasi similique reiciendis voluptates facilis laudantium
        expedita dolor velit. Dicta at adipisci saepe quod id, dignissimos
        libero minima recusandae quasi eius illum laboriosam magnam, repellat
        modi, debitis consectetur dolorum voluptatem! Harum id vitae distinctio
        dolores possimus eum assumenda quod. velit repellat rem maxime! Sequi
        quis velit blanditiis voluptate Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laboriosam maxime iure nam dicta tempora dolore
        facilis molestiae soluta rem, repudiandae cupiditate amet asperiores
        earum praesentium consectetur, harum ratione id error enim voluptatem
        molestias odit! Nostrum, ex ut tempore magnam id aperiam perspiciatis
        minus laboriosam officiis ducimus ullam nam magni atque aut soluta,
        deleniti quidem non recusandae cupiditate. Optio et quis ipsam illo
        similique odit accusamus numquam incidunt beatae modi. Atque eum ut unde
        dolorem laudantium at distinctio odio dolorum fuga delectus iusto magni
        placeat recusandae ipsa mollitia incidunt nemo eaque, sunt
        necessitatibus animi ab totam, blanditiis error vero? Autem, similique
        tempore libero quidem, distinctio labore praesentium iste hic
        dignissimos veritatis aspernatur natus ad reiciendis asperiores sed
        ipsum ratione. Delectus, accusantium fugiat eveniet deleniti, voluptatum
        minus optio vero modi impedit inventore qui culpa? Doloribus quia,
        explicabo ad ducimus mollitia delectus amet provident praesentium
        incidunt iure placeat, accusantium iste quaerat nam accusamus?
        Consectetur dolores quasi cupiditate laborum voluptatibus in eveniet
        itaque vitae eum veniam facere officiis ipsum, eligendi ad
        exercitationem accusantium dicta velit eos nostrum praesentium sed?
        Ipsum, quisquam accusantium fugiat aspernatur debitis doloribus
        doloremque placeat neque, ipsa quo temporibus beatae animi. Tempora
        dignissimos provident consectetur voluptates iusto vel animi enim
        molestiae totam! Vero minus recusandae est expedita odit tempora
        blanditiis quis officiis accusamus inventore eligendi qui debitis quae
        illo doloribus, quod distinctio, eius consequatur! Numquam quaerat aut
        facilis voluptates quasi corporis tempora. Fugiat ipsa dignissimos fuga
        recusandae eius deserunt vitae, quia atque iusto porro sed unde,
        nesciunt et dolores animi placeat reprehenderit voluptatibus. Ipsam et,
        in debitis voluptatibus magnam unde dolores consequatur deleniti
        doloribus quia error quisquam. Quod nobis fuga sunt, labore iusto ipsum
        commodi, tenetur, laudantium quis adipisci nisi error eveniet
        consequuntur quaerat perferendis dignissimos cumque aspernatur nostrum
        voluptatum omnis velit aut sapiente. Iusto dolorum facilis quia
        temporibus ut explicabo omnis iure, inventore sit consequuntur tenetur
        soluta aliquam adipisci minima! Perspiciatis accusantium fugiat iste?
        Facere sapiente, optio inventore sint iure nihil repudiandae ipsa atque
        earum non facilis ut ullam quae dignissimos possimus blanditiis, illum
        quas. Sit dolorum hic officia cupiditate in, voluptatibus optio
        temporibus accusantium commodi maiores natus dignissimos voluptatum
        suscipit laborum ipsum beatae nostrum sint eligendi, a architecto? Enim
        suscipit magnam, odit minima aperiam eum nam hic culpa minus soluta
        rerum quam asperiores illo delectus possimus dolor repudiandae est modi
        magni molestiae error! Et ratione praesentium saepe ab quasi, voluptatum
        atque accusantium, magnam assumenda explicabo fugiat. Consequatur,
        molestias? Mollitia, tempore accusamus dolores corrupti rerum quam
        necessitatibus similique? Magni deserunt debitis distinctio porro quod
        saepe voluptas commodi explicabo nam velit, error, consectetur, ad
        eligendi ratione vel sunt omnis. Sit alias rerum id animi deserunt eos
        tenetur distinctio non, officia facere eaque nostrum sunt impedit nemo
        quo odit voluptatem maiores aut culpa consectetur nihil aperiam nulla?
        Impedit ullam eum consequuntur perferendis, sed fuga magni ducimus
        debitis a harum nobis facere aliquid. Assumenda nesciunt, vel a quaerat
        error ex autem perspiciatis minima quis laborum est aperiam dolor vitae
        tenetur mollitia voluptate eligendi maiores. In voluptas dolor ipsa,
        explicabo ea fugit ab quos. nesciunt sed quasi est laboriosam minima
        enim veritatis ipsam aliquid accusamus, inventore ratione voluptates
        suscipit, explicabo impedit consequatur facilis incidunt! Libero maxime
        temporibus facere rerum facilis debitis cum harum quisquam corporis
        ipsam atque ipsum numquam, iure saepe odit alias ea repudiandae aperiam
        voluptate quaerat aliquam totam?ad non ducimus eius ab maxime
        exercitationem? Possimus laudantium, asperiores nobis eveniet quas qui
        aspernatur repellat adipisci perferendis aut minima pariatur provident
        exercitationem expedita praesentium, aliquam error dolores voluptatem
        beatae aperiam quidem ipsam consectetur? Itaque quidem officia aliquam
        tenetur. Voluptates similique adipisci quod assumenda, inventore, beatae
        accusamus deserunt excepturi officia consequatur provident ab reiciendis
        velit sequi neque enim dolorum ullam nulla odit doloribus maxime
        distinctio! Delectus, eos odit cupiditate rerum enim ad illo, placeat
        cumque veritatis maiores veniam. Accusantium, eveniet sed. Dolorum
        mollitia unde quis placeat reprehenderit ullam quidem accusantium nemo a
        perspiciatis! Exercitationem labore laboriosam maiores doloribus, error
        laudantium id iure rem ut. Hic facere maxime porro vero quibusdam
        incidunt error, consectetur placeat amet quaerat ipsam est laboriosam?
        Officiis ducimus vero delectus culpa ullam dolorum sint repellat ipsam
        laboriosam quos at quibusdam quam distinctio reiciendis aliquid
        obcaecati quia, dolor maiores voluptates fugit dicta consequatur
        accusantium. Itaque, sed blanditiis dolore magnam id, enim nam fugiat
        delectus debitis molestiae fugit vitae suscipit, minus quisquam
        explicabo aspernatur est corporis ducimus? Voluptatem numquam vero
        voluptates molestias nemo porro dolorum sed non? Rem tempore ipsa ullam
        cupiditate? Omnis hic voluptas porro, expedita minima minus provident
        nam sint mollitia veniam?
      </p>
    </div>

    <div id="div2">
      <h1 id="head2">Heading 2</h1>
      <img src="./images/5.jpeg" alt="" / id="image2">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam
        consequatur debitis necessitatibus vel ducimus velit esse deleniti
        praesentium. Quis explicabo nobis adipisci illum quasi natus unde fugiat
        numquam qui dolorum nihil nulla quaerat porro earum commodi, voluptates,
        quae quia vel eos enim, facilis ipsum! Fugiat, itaque illum assumenda
        eveniet ad modi nostrum corporis quibusdam sint in voluptas suscipit
        distinctio impedit eos veniam doloribus molestiae consequatur ex unde
        autem expedita repellat ullam hic dignissimos? Maxime enim ex, magni
        voluptatibus id porro provident suscipit dolor laudantium dolores fuga.
        Officia, velit vero corrupti maxime possimus a autem nostrum harum quam
        praesentium, deserunt eaque perferendis voluptatem qui laudantium
        laborum. Deleniti ipsam temporibus quasi obcaecati eum in tenetur iste
        nam distinctio, sint laboriosam dolor quam non natus recusandae. Aut
        dolorum expedita officiis, molestiae harum ab? Itaque cum ad vitae,
        reiciendis aliquid illo doloremque iure, eligendi omnis repellendus
        necessitatibus nostrum harum ducimus hic cupiditate! Dolores, nam. Modi,
        eaque libero dicta ab earum alias non voluptates eius facilis,
        blanditiis ad, cum aut cupiditate beatae consequuntur. Natus praesentium
        in minus, sed quos itaque vitae labore odit quo accusantium recusandae
        consequuntur, fugiat sapiente. Inventore vitae ratione doloribus, magnam
        veritatis sunt numquam iste recusandae quas quam iusto veniam obcaecati
        sapiente illum eveniet voluptatum eum, labore voluptatibus eius tenetur
        nemo nobis? Enim provident possimus hic, optio unde adipisci nulla
        veritatis dolores non! Voluptatibus unde ab omnis harum culpa, quasi
        accusamus magni a nulla quae molestias voluptatem dolores tempore,
        reiciendis aliquid adipisci odio commodi veritatis laboriosam, eum
        repudiandae nobis quod pariatur quos? Autem ea impedit quis id. Error
        tempore dolorem sed fugit, cumque voluptas quam ea iure a culpa nihil
        laboriosam eligendi magnam eveniet obcaecati facere odit architecto
        suscipit voluptate nobis accusantium minima veritatis, voluptatem nulla.
        Totam reiciendis neque est itaque commodi sit harum velit rem. Earum
        omnis eveniet, eligendi accusantium iure aliquam dolorem. Voluptatibus
        esse quasi voluptatum laboriosam at quidem mollitia sapiente, asperiores
        excepturi! Unde quis dolorem praesentium ab nam? Inventore ipsum dolor,
        quibusdam quam quia amet impedit repellat laborum sit. Similique, modi
        voluptates! Quibusdam doloremque dicta cum corporis, voluptas at
        accusantium error molestias dolor reiciendis quidem expedita quo
        aliquid, soluta voluptatum hic esse nesciunt tempore delectus? Officia,
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero alias
        temporibus sapiente autem labore facilis neque illum officiis pariatur
        distinctio. Ullam doloribus dolorum ad harum aspernatur quo provident
        error, blanditiis at, voluptatem exercitationem dolore eius quos nisi
        animi pariatur veritatis libero consectetur ex perspiciatis eveniet
        molestias autem debitis placeat. Delectus ex recusandae labore
        temporibus, voluptas excepturi incidunt quam eius sit nobis id totam
        inventore amet vero eaque debitis cum unde nemo adipisci expedita.
        Eveniet autem repellendus repellat hic distinctio voluptatum! Culpa,
        nisi vel similique rerum quaerat aliquam reprehenderit ipsam aspernatur
        quis eveniet. Iure ipsum voluptatum repellendus eveniet minima
        dignissimos deserunt dolorem, porro molestiae repellat soluta magnam
        quia accusantium autem animi? Mollitia ea accusantium assumenda iusto
        architecto voluptates quasi, doloremque quis odio ex tempore quas libero
        non voluptatem quam magni impedit eius? Fugiat minus perspiciatis
        deserunt ipsum, voluptate similique placeat veritatis delectus.
        Provident ut cupiditate, modi quam omnis placeat dolor quas explicabo,
        a, obcaecati quae? Et voluptatum assumenda nobis suscipit in eaque
        temporibus facere obcaecati quam quae soluta culpa quo reiciendis
        dolorum dolore eos, minima beatae. Placeat quisquam eum sunt suscipit
        veritatis, ducimus itaque expedita et similique non aperiam vitae
        nostrum ullam debitis voluptate. Adipisci repellendus rerum animi nemo
        odit fugiat cum, a consequatur natus molestiae repudiandae quo vel
        explicabo qui dolorum ipsum corporis aspernatur cupiditate aliquid ullam
        obcaecati reprehenderit. At voluptas quasi, iste sed dignissimos impedit
        voluptatum eum et pariatur quos reiciendis suscipit aliquid est
        accusantium aperiam rem qui velit beatae doloribus tenetur! Accusamus at
        voluptas delectus harum praesentium quos quidem iusto aliquid rem
        blanditiis totam eos voluptates laboriosam doloribus, dicta et error
        magni nesciunt velit minus. Veniam rerum earum ipsam excepturi possimus
        minus, quia omnis quis eos modi asperiores sapiente, quasi officiis
        tempore id corrupti repellat eum, voluptates ipsum neque eaque in
        reiciendis! Saepe aut facere repellendus illum rerum quisquam recusandae
        assumenda ducimus error sit. Ut culpa minima, repellendus explicabo
        maiores quod! Assumenda rerum nobis unde sapiente molestias enim quo
        magnam doloribus officiis optio iure, exercitationem soluta quos
        corrupti asperiores nostrum ad similique totam aperiam, sequi amet vitae
        repudiandae. Reiciendis tenetur repellat itaque nihil provident! Dolorum
        repellendus nam consequuntur nulla similique rem officiis earum dicta.
        Reprehenderit mollitia, eligendi, placeat consequuntur earum cupiditate
        voluptate aperiam blanditiis voluptates deserunt natus esse rerum nobis
        inventore. Quas eligendi accusamus commodi qui quia. Quasi mollitia
        pariatur, neque at corrupti labore voluptates reprehenderit molestiae
        saepe in sunt quidem incidunt voluptate tempore similique voluptas nihil
        officia beatae omnis unde accusantium. Nesciunt dolores perspiciatis
        enim labore officia, cupiditate dignissimos ipsum deleniti, tenetur odit
        quibusdam! Asperiores et, nesciunt veniam esse accusantium nostrum quia
        laborum in ea! Quia enim ipsum possimus consequuntur officia placeat,
        quae sit incidunt culpa ad adipisci pariatur nisi atque, rem iusto dolor
        rerum! Facere quo accusamus delectus! Molestias aut, nemo quasi repellat
        fugiat, impedit voluptatum sequi pariatur a, ipsum voluptas non enim
        beatae accusamus delectus? Rerum odio ipsum delectus harum officiis
        voluptatum, natus quasi vel, perferendis deserunt itaque consequatur
        perspiciatis voluptate sed praesentium commodi impedit culpa unde
        facilis dignissimos obcaecati! Debitis, minus dolore, fugit accusamus
        architecto eum tenetur quia accusantium exercitationem ea quisquam quam
        facilis neque perferendis! Ad veritatis quisquam exercitationem maiores
        eaque accusamus, ut temporibus sed optio facere reprehenderit deserunt
        inventore placeat totam vero repellendus unde iure? Vero fugit odit
        animi facere nostrum earum omnis doloremque accusantium cum id commodi
        maiores sit iure blanditiis necessitatibus ea, odio assumenda distinctio
        molestias in dolor cumque est. Exercitationem maiores non suscipit!
        Incidunt consequuntur quo ipsa animi dolorum laudantium in sunt fugit
        obcaecati. Culpa sit nam pariatur qui molestias blanditiis impedit
        deleniti ullam saepe quasi ipsa temporibus suscipit, enim doloremque a!
        Autem aut nulla magnam ut atque officia error perferendis asperiores
        consequatur, odio architecto pariatur corporis molestiae modi
        voluptatibus suscipit beatae at fugit assumenda delectus quis! Esse
        expedita, labore libero iusto dolorem voluptatum, similique excepturi
        vero, alias temporibus harum sit. Totam, ratione perferendis error
        aperiam voluptatem modi alias consectetur nobis dolorem ipsum cupiditate
        maiores, nemo natus reprehenderit dolor corrupti iure? Perspiciatis,
        impedit culpa quaerat debitis quasi ipsam soluta reiciendis velit
        eveniet minima provident dolorem deleniti sed? Id, possimus. Odit, cum.
        Ad sit consequatur reiciendis dignissimos minus ipsam asperiores animi
        necessitatibus officia adipisci? Nulla natus soluta officia eius quaerat
        qui debitis aspernatur assumenda aperiam, accusantium expedita fugit
        illum recusandae at dolores voluptatibus nobis necessitatibus minima
        corporis quis. Dignissimos, tenetur facere! Deleniti iusto incidunt
        sapiente vel saepe eius, et aliquam vero deserunt? Illum ullam quam
        obcaecati accusamus ut, numquam voluptas officia quasi molestias natus
        quos placeat aut neque. Ipsam soluta delectus quam expedita. Optio fuga
        voluptas vel corrupti ipsum totam dignissimos minima, odit ipsam impedit
        earum id a deleniti ducimus commodi incidunt minus tempora! Qui officia
        officiis similique aspernatur rem labore repellendus deleniti amet,
        voluptate sequi doloribus assumenda iste atque sit recusandae
        necessitatibus quo repellat sunt, animi tempora dolores maiores sapiente
        esse. Sit velit nulla, eveniet vitae esse nesciunt! Consectetur cum
        deleniti aperiam assumenda molestiae autem labore? Porro impedit odit
        perspiciatis quidem quo minus dignissimos at aliquam facilis dolore
        nostrum, mollitia ipsam hic ratione debitis accusantium officia eum
        alias doloribus tempora placeat quis? Tempora deserunt perspiciatis,
        sequi tenetur, cupiditate impedit minima quae obcaecati debitis
        consequatur qui enim. Blanditiis nobis commodi sunt, fugit magni enim
        totam mollitia officia autem dolore beatae praesentium doloribus quas
        numquam tempore necessitatibus voluptate. Magni natus minima aliquid aut
        enim iusto ea. A ut veniam quam magnam repellat voluptatem ipsa mollitia
        error sunt praesentium libero reprehenderit eligendi placeat,
        repellendus debitis ratione nobis numquam fugit! Similique assumenda
        quibusdam quas iste omnis sint ratione quod. Et, reiciendis, enim
        reprehenderit, non cupiditate possimus omnis officia eum a nihil
        deleniti aspernatur nemo natus unde obcaecati molestias commodi atque
        nisi! Quia ratione reprehenderit quas nisi nesciunt quaerat debitis
        vitae, perferendis inventore sequi optio dolorum, commodi amet nulla?
        Iste, nobis? Vero magni perferendis delectus laudantium consequuntur in
        reiciendis nisi explicabo nam quibusdam inventore sint dolor repellat
        natus temporibus impedit, saepe perspiciatis repellendus autem aperiam!
        Blanditiis fugiat modi accusamus! Aut, tenetur totam cum consequatur
        inventore quibusdam quam? Incidunt quis pariatur placeat molestiae
        facilis nostrum voluptatem delectus fugit, ad dolor expedita aspernatur
        assumenda cumque omnis? rerum neque.
      </p>
    </div> -->


    <!-- *Creating the navigation bar which will have t he dropdown -->

    <nav>
        <ul id="cont-1">
            <li><a href="#">Home</a></li>
            <li><a href="#">Layout</a></li>
            <li id="service-options-drop"><a href="#" >Services</a>
                <ul id="menu">
                   <li><a href="#">Mumbai</a></li>
                   <li><a href="#">Thane</a></li>
                   <li><a href="#">Chennai</a></li>
                </ul>
            </li>
        </ul>
    </nav>


  </body>
</html>
