<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation-Bar-Layout</title>

    <!-- ^linking the logo to our page  -->
    <link rel="shortcut icon" href="./images/1.jpg" />

    <!-- ^ connecting to the google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- ^then connecting to the css  -->
    <!-- <link rel="stylesheet" href="./nav1.css"> -->
    <link rel="stylesheet" href="./nav2.css" />

    <!-- !when multiple css is given to particular element then which css should it get apply  that is known as cascading  -->
  </head>
  <body>
    <!-- <h1>head 1</h1>
    <h1>head 2</h1>
    <img src="./images/5.jpeg" alt="its getting loading">
    <img src="./images/5.jpeg" alt="its getting loading">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, quidem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, accusantium.</p> -->

    <!-- ^cell spacing and cell padding I have to go through -->
    <!-- ^A tags which are providing the style and structure those tag is known as formatting tags -->
    <!-- <a href="">Youtube</a>
    <a href="">Amazon</a>

    <iframe src="https://github.com/Manoj-Katkar?tab=repositories" frameborder="0"></iframe> -->

    <!-- ! Another part of the class learning box model in depth -->

    <div id="nav">
      <h1>Home</h1>
      <h1>Layout</h1>
      <h1>Help</h1>
    </div>

    <header>
      <h1>Home</h1>
      <h1>Layout</h1>
      <h1>Help</h1>
    </header>

    <nav>
      <div id="left">
        <h1>Amazon.In</h1>
      </div>

      <div id="center">
        <a href="#">Male</a>
        <a href="#">Female</a>
        <a href="#">kids</a>
      </div>

      <div id="right">
        <a href="#">Sign-Up</a>
        <a href="#">Sign-In</a>
      </div>
    </nav>
  </body>
</html>
