body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
}

nav{
    background-color: rgba(0, 0, 0, 0.815);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
    /* position: sticky; doubt  */  
}
#nav-left > h2{
    margin: 0px;
    color: white;
    font-weight: 500;
}

#nav-left{
    /* background-color: red; */
}
#nav-right{
 /* background-color: magenta; */
 width: 45%;
}

#nav-right > ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-right > ul > li >  a{
    text-decoration: none;
    color: white;
}




/* *--------------------------------------------------------------------Grass Section- -------------------------------------------- */
#Grass{
    position: relative;
}

#Grass > img{
    width: 100%;
    background-size: cover;
    height: auto;
}

#Grass > div{
    color: white;
    position: absolute;
    top: 39%;
    left: 24%;
    text-align: center;

}

#Grass > div > h2{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#Grass > div >P{
    font-size: 1.2rem;
}

#Grass > div > button{
    height: 2.5rem;
    width: 15%;
    padding: 0.5rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
}




/* *-------------------------------------------------------Welcome Section ------------------------------------ */

#Welcome{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;

}

#Welcome-left{
    /* background-color: magenta; */
    width: 49%;
    position: relative;
}
#Welcome-right{
    /* background-color: chartreuse; */
    width: 49%;
    display: flex;
    justify-content: space-evenly;
}

#Welcome-right-1{
    width: 51%;
    margin-right: 2.5rem;
    /* background-color: maroon; */

}

#Welcome-right-2{
    width: 51%;
    /* background-color: blue; */
}

#Welcome-right-1 > img{
    width: 100%;
}

#Welcome-right-2 > img{
    width: 100%;
}

#Welcome-left > h3{
    font-size: 2.3rem;
    font-weight: 500;
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0px;
}

#Welcome-left > h3 > span{
    color: green;
    font-weight: 600;
}

#Welcome-left > button{
    padding: 0.8rem 0.2rem 0.8rem 0.2rem;
    margin-top: 2rem;
    background-color: rgba(0, 128, 0, 0.78);
    color: white;
    width: 37%;
    border: none;
    border-radius: 7px;
    height: 3.5rem;
    font-size: 1.2rem;
}

#Welcome-left > button:hover{
    background-color: rgb(93, 140, 24);
}

#Welcome-left > hr{

    width: 11%;
    height: 0.2rem;
    /* *below margin will not work ask to the sir doubt  */
    /* margin-bottom: 3.5rem;     */
    position: absolute;
    top: 12%;
    left: 0%;
    background-color: green;
    border: none;
    
}

#Welcome-left > p{
    line-height: 1.8rem;
}

#Welcome-right  p{
    line-height: 1.8rem;
    font-size: 0.9rem;
}

#Welcome-right  h3{
    font-size: 1.5rem;
    font-weight: 500;
}

#first-para{
    margin-top: 3.5rem;
}