body{
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu Sans", sans-serif;
    background-image: url(./images/background\ image\ final.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: black; */
    
}


hr{
    border: 2px solid gray;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
    margin-left: 140.375;
    margin-right: 140.375;
    margin: 0 140.375px;
    /* width: 80%; */


}

/* to change the header button size  */
#main-section #right button,a{
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    background-color: red;
    color: white;
    /* list-style-type: none; */
    text-decoration: none;
    border-radius: 5px;

}

/* to change the dropdown size and all  */
#main-section #right  select{
    background-color: rgba(0, 0, 0, 0.561);
    color: white;
    height: 2rem;
    padding: 6px 36px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
}
/* to give the gap between the dropdown and sign in button */

#main-section #right{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#left img{
    width: 100%;
    height: 5rem;
}

i{
    color: white;
}


#TV-shows{
    color: white;
    text-align: center;
    /* border: 2px solid red; */
    margin-top: 8rem;
}

#TV-shows > h2{
    font-size: 3.5rem;
    /* font-weight: bolder; */
    font-weight: 900;
}

#TV-shows > p{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

#TV-shows > input{
    width: 30%;
    height: 2.5rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.476);
    padding: 0.5rem 2rem;
    border: 2px solid rgba(255, 255, 255, 0.729);
    border-radius: 7px;
}

#TV-shows > input::placeholder{
    color: white;
    font-size: 1.2rem;
}

#TV-shows > button{
    width: 14%;
    height: 3.8rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.2rem;
}