body{
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu Sans", sans-serif;
    background-image: url(./images/background\ image\ final.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(0, 0, 0);
    
    
    
}


hr{
    border: 2px solid gray;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
    margin-left: 140.375;
    margin-right: 140.375;
    margin: 0 140.375px;
    /* width: 80%; */
    /* background-color: rgba(0, 0, 0, 0.684); */
    /* do it for the section under which you want the background-color:  as black ; */


}

#main-section{
    background-color: rgba(0, 0, 0, 0.777);
}

/* to change the header button size  */
#main-section #right button,a{
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    background-color: red;
    color: white;
    /* list-style-type: none; */
    text-decoration: none;
    border-radius: 5px;

}

/* to change the dropdown size and all  */
#main-section #right  select{
    background-color: rgba(0, 0, 0, 0.561);
    color: white;
    height: 2rem;
    padding: 6px 36px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
}
/* to give the gap between the dropdown and sign in button */

#main-section #right{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#left img{
    width: 100%;
    height: 5rem;
}

i{
    color: white;
}


#TV-shows{
    color: white;
    text-align: center;
    /* border: 2px solid red; */
    margin-top: 8rem;
}

#TV-shows > h2{
    font-size: 3.5rem;
    /* font-weight: bolder; */
    font-weight: 900;
}

#TV-shows > p{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    
}

#TV-shows > input{
    width: 25%;
    height: 2.5rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.476);
    padding: 0.5rem 2rem;
    border: 2px solid rgba(255, 255, 255, 0.729);
    border-radius: 7px;
}

#TV-shows > input::placeholder{
    color: rgb(184,181,167);
    font-size: 1.2rem;
}

#TV-shows > button{
    width: 14%;
    height: 3.8rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.2rem;
}

#main-section > hr{
    margin-top: 14.1rem;
    width: 100%;
    height: 0.5rem;
    background-color: rgba(128, 128, 128, 0.741);
}

/* ***************All hr ******************************* */
hr{
    width: 100%;
    height: 0.5rem;
    background-color: rgba(128, 128, 128, 0.741);
}



/* *------------------------------------------Enjoy TV Section ---------------------------------- */
#Enjoy{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#Enjoy-text{
    width: 48%;
    /* background-color: yellow; */
    color: white;
   

}

#Enjoy-text > h2{
    font-size: 3rem;
    font-weight: 900;
}

#Enjoy-text > p{
    font-size: 1.5rem;
    line-height: 2rem;
}

#Enjoy-vedio-image{
    width: 48%;
    /* background-color: magenta; */
    position: relative;
}

#Enjoy-vedio-image > img{
    width: 100%;
    position: relative;
    z-index: 2;
    /* display: inline-block; */
}

#Enjoy-vedio-image > video{
    position: absolute;
    z-index: 1;
    top: 20.5%;
    left: 13%;
    width: 73%;

}


/* *---------------Watch Section ------------------------------------------- */
#Watch{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#Watch-left{
    width: 48%;
    /* background-color: yellow; */
    color: white;
}


#Watch-right{
    width: 48%;
    /* background-color: magenta; */
    position: relative;
}

#Watch-left > h2{
    font-size: 3rem;
    font-weight: 900;
}

#Watch-left > p{
    font-size: 1.5rem;
    line-height: 2rem;
}


#Watch-right > img{
    width: 100%;
    /* * it should occupy its original space hence use position relative  */
    position: relative;
    z-index: 2;
}

#Watch-right > video{
    /* *because it should not occupy the its original space  */
    position: absolute;
    top: 10%;
    left: 18%;
    width: 62.5%;
    z-index: 1;
}


/* *----------------------Create Section ------------------------------- */


#Create{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* background-color: red; */
}

#Create-left{
    /* background-color: yellow; */
    width: 48%;

}


#Create-right{
    /* background-color: magenta; */
    width: 47%;
    color: white;
}

#Create-left > img{
    width: 100%;
}

#Create-right > h2{
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0px;
}

#Create-right > p{
    font-size: 1.5rem;
    line-height: 2rem;
}




/* *-----------------------------Download Section --------------------------- */

#Download{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Download-left{
    width: 48%;
    /* background-color: yellow; */
    position: relative;
}

#Download-right{
    width: 48%;
    /* background-color: magenta; */
    margin-left: 0px;
}

#Download-left-box{
    width: 57%;
    height: 15%;
    margin: auto;
    background-color: black;
    border: 2px solid rgb(51,50,55);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 69%;
    left: 22%;

}

#Download-left-box > img{
    width: 25%;
    height: 80%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


#Download-left > img{
    width: 100%;
    
}

#Download-left-box > div > p{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

#Download-left-box > div > span{
    color: rgb(0,82,234);
}

#Download-right > h2{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0px;
}

#Download-right > p{
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
}





/* *-----------------------------------------------FAQ ----------------------------------------- */

#FAQ{
    color: white;
    /* text-align: center; */

}

#FAQ > h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

#FAQ-DIV1{
    width: 70%;
    margin: auto;
}

#FAQ-DIV1 > h3{
    background-color:  #2d2d2d;
    padding: 1.5rem 0.5rem 1.5rem 1.3rem;
    font-size: 1.7rem;
    font-weight: 300;
    margin: 0.5rem;

}

#FAQ-DIV1 > h3 > i{
    font-size: 2rem;
}

#FAQ-DIV2{
    text-align: center;
    margin-bottom: 4.5rem;
}

#FAQ-DIV2 > p{
    font-size: 1.2rem;
    margin-top: 3rem;
}

#FAQ-DIV2 > input{
    width: 22%;
    height: 3.1rem;
    margin-right: 1.7rem;
    background-color: 
    #0f0f0f;
    color: #efe9e2 ;
    background-color: black;
    border: 2px solid #605549 ;
    border-radius: 5px;
    padding: 0.2rem 0.2rem 0.2rem 1.5rem;
    font-size: 1.1rem;
}


#FAQ-DIV2 > button{
    width: 14%;
    height: 3.4rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 600;
}




/* *---------------------footer------------------------------------------------ */
footer{
    background-color: black;
    width: 100%;
    color: white;
    margin-top: 2rem;
}
footer a{
    background-color: black;
    color: white;
}

footer h3{
    padding-left: 9rem;
}


footer #footer-div{
    width: 90%;
    /* margin: auto; */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
    
}

footer #footer-div a{
    background-color: black;
    border-bottom: 1px solid white;
    color: white;
}

footer #footer-div ul{
    list-style-type: none;
}
footer #footer-div ul li{
    margin-bottom: 1rem;
}


#language-select{
    width: 80%;
    font-size: 1rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    margin-bottom: 1.5rem;
    border: 2px solid white;
    color: white;
    background-color: black;
    border-radius: 5px;
}

/* make the another div display none */

#Mobile-ul{
    display: none;
}

/* ! this css is not getting applied ask this doubt to sir for icon  */

.fa-language{
    color: white;
    background-color: red;
    font-size: 4rem;
}









/* ^NOW WRITING THE CSS FOR THE MOBILE VERSION */

@media (max-width : 600px) {

    body{
        width: 100%;
        background-image: url(./images/background\ image\ final.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
        
    }

    #main-section{
        width: 100%;
    }
    

    /* now reduce the width of the header  */

    header{
        padding: 12px 24px;
        margin: 0px;
        width: 80%; 
        margin: auto;
        /* background-color: rgba(0, 0, 0, 0.684); */
        /* do it for the section under which you want the background-color:  as black ; */
    
    
    }


    
    /* to change the dropdown size and all  */
    #main-section #right  select{

        padding: 6px 6px;
        font-size: 1rem;
    }
    /* to give the gap between the dropdown and sign in button */
    
    #main-section #right{
        display: flex;
        justify-content: space-between;
        gap: 3px;
    }
    
    #left img{
        width: 65%;
        height: 2.5rem;   
    }

    #main-section > hr {
        margin-top: 0rem;
    }


    hr{
        width: 100%;
    }



    /* *Tv Shows Section mobile version  */


    #TV-shows{
        margin-top: 6rem;
        width: 90%;
        margin: auto;
        /* background-color: red; */
    }
    
    #TV-shows > h2{
        font-size: 1.9rem;
        /* font-weight: bolder; */
        font-weight: 700;
    }
    
    #TV-shows > p{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        
    }
    
    #TV-shows > input{
        width: 80%;
    }
    
    #TV-shows > input::placeholder{
    
        font-size: 1rem;
    }
    
    #TV-shows > button{
        width: 48%;
        background-color: red;
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    
       
    }






    /* *--------------------Enjoy Mobile Section ---------------------------- */

#Enjoy{


    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#Enjoy-text{
    width: 100%;
    /* background-color: yellow; */
    color: white;
    text-align: center;
   

}

#Enjoy-text > h2{
    font-size: 2rem;

}

#Enjoy-text > p{
    font-size: 0.9rem;
    line-height: 1.5rem;
}

#Enjoy-vedio-image{
    width: 100%;
    /* background-color: magenta; */
    position: relative;
}




/* *------------------------Download Mobile Section ------------------------------- */



#Download{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#Download-left{
    width: 100%;
    /* background-color: yellow; */
    position: relative;
}


#Download-left-box{
    width: 72%;
    height: 20%;
    top: 69%;
    left: 19%;

}

#Download-left-box > img{
    width: 18%;
    height: 75%;

}


#Download-left > img{
    width: 110%;
    
}

#Download-left-box > div > p{

    font-size: 0.9rem;

}

#Download-left-box > div > span{
    font-size: 0.9rem;
}


#Download-right{
    width: 100%;
    /* background-color: magenta; */
    margin-left: 0px;
    text-align: center;
}


#Download-right > h2{
    font-size: 1.8rem;
}

#Download-right > p{
    font-size: 0.9rem;
    line-height: 1.5rem;
}






/* * -----------------------------------------Watch Section ----------------------- */



#Watch{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Watch-left{
    width: 100%;
    text-align: center;
}


#Watch-right{
    width: 100%;
}

#Watch-left > h2{
    font-size: 1.8rem;
}

#Watch-left > p{
    font-size: 1rem;
    line-height: 1.5rem;
}







/* *------------------------------Create Mobile Section ------------------------------- */




#Create{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#Create-left{
    width: 100%;
}


#Create-right{
    width: 100%;
    text-align: center;
}



#Create-right > h2{
    font-size: 1.8rem;
}

#Create-right > p{
    font-size: 0.9rem;
    line-height: 1.5rem;
}






/* *-------------------------------FAQ Mobile Section --------------------------- */

#FAQ{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FAQ > h1{
    font-size: 2.2rem;
    font-weight: 900;
    text-align: center;
    margin-top: 2.5rem;
}

#FAQ-DIV1{
    width: 90%;
    margin: auto;

}

#FAQ-DIV1 > h3{
    background-color:  #2d2d2d;
    padding: 1.1rem 0.5rem 1.1rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.7rem;

}

#FAQ-DIV1 > h3 > i{
    font-size: 1rem;
}

#FAQ-DIV2{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FAQ-DIV2 > p{
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

#FAQ-DIV2 > input{
    width: 80%;
    margin-left: 2.9rem;
    margin-bottom: 2rem;
    height: 2.3rem;
}


#FAQ-DIV2 > button{
    width: 35%;
    font-size: 1.1rem;
}




/* * -------------------------------footer Mobile Section ---------------------------*/


#footer-div{
    display: flex;
    flex-direction: column;
}



footer{
    background-color: black;
    width: 100%;
    color: white;
    margin-top: 2rem;
}
footer a{
    background-color: black;
    color: white;
}

footer h3{
    padding-left: 1.9rem;
}


/* make the footer-div  display none */

footer > #footer-div{
    display: none;
}



/* make the another div display block */

#Mobile-ul{
    display: block;
    display: flex;
    justify-content: space-between;
}

#Mobile-ul > ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 1.7rem;
    line-height: 2rem;
}

#Mobile-ul > ul > li > a{
    color: white;
    text-decoration: underline;
}

/* ! below css is not getting apply doubt I have to ask to the sir  */

#Mobile-ul > select{
    margin-top: 10rem;
    width: 15%;
}













}
