#CSK{
    position: absolute;
    z-index: 1;
    background-color: yellow;
}

#MI{
    position: absolute;
    z-index: 0;
    background-color: blue;
}

#RCB{
    position: absolute;
    z-index: 2;
    background-color: red;
}

#H1{
    position: absolute;
    z-index: 2;
    background-color: red;
}

#H2{
    position: absolute;
    z-index: 5;
    background-color: blue;
}

#H3{
    position: absolute;
    z-index: 7;
    background-color: magenta;
}
